body {
    margin: 0;
    background: #F4F4F4;
    font-family: 'Inter', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #6943FF;
    color:  #FFFFFF;
    padding: 33px 0px;
}

#darkmode-toggle {
    position: absolute; 
    top: 20px; 
    right: 60px;
}

label {
    width: 100px;
    height: 40px;
    position: relative;
    display: block;
    background: #CCC1FF;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

label:after {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, #fefefe, #CCC1FF);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

.toggle:checked + label {
    background: #1F2937;
}

.toggle:checked + label:after {
    left: 98px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #5A537B, #1F2937);
}

.toggle:active:after{
    width: 260px;
}

label svg {
    position: absolute;
    width: 24px;
    top: -30px;
    z-index: 100;
}

label svg.sun {
    left: 8px;
    transition: 0.3s;
}

label svg.moon {
    left: 68px;
    fill: #fefefe;
    transition: 0.3s;
}


h1 {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    transition: 0.3s;
}


h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #5A537B;
}

.container {
    margin: 0 auto;
    margin: 23.43px 25px;
    width: 500px;
    height: 108.57px;
    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

#number {
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 117px;
    height: 83px;
    margin-top: 30px; 
    margin-bottom: 26.77px;
    font-size: 58px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

#convert {
    background:  #FFFFFF;
    color: #3D3D3D;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    padding: 9px 27.5px;
    margin: 0 auto;
}
